#banner {
	background-color:black;
	background-image:url('../images/small_banner.png');
	background-repeat:no-repeat;
	height: 48px;
	border-bottom:0;
	cursor:pointer;
	margin: auto auto;
	max-width: 800px;
}
#footer {
	background-color:black;
	clear:both;
	color:white;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Helvetica, Arial, Sans-Serif;
	font-size:xx-small;
	padding:0.5em;
	margin-top:1em;
	margin: auto auto;
	max-width: 800px;	
}
#footer a {
	color: white;
	text-decoration:none;
}
#footer a:hover {
	text-decoration: underline;
}